<!DOCTYPE html>
<html>
<head>
	<title>Student Portal</title>
</head>
<body>

<form>
 	<h1>Student Form</h1>
  <h4 id="q1">1. What type of service are you looking for?</h4>

  <div class="container" style="border:2px solid #ccc; width:300px; height: 100px; overflow-y: scroll;">
    <input type="checkbox" /> Addictions/Substance <br />
    <input type="checkbox" /> Adjustment to College Life <br />
    <input type="checkbox" /> Anger Management <br />
    <input type="checkbox" /> Anxiety <br />
    <input type="checkbox" /> Attachment Disorders <br />
    <input type="checkbox" /> ADHD <br />
    <input type="checkbox" /> Autism Spectrum <br />
    <input type="checkbox" /> Behavioral Problems <br />
    <input type="checkbox" /> Bipolar Disorders <br />
    <input type="checkbox" /> Body Image Issues<br />
    <input type="checkbox" /> Career/Employment Concerns<br />
    <input type="checkbox" /> Child Abuse and Neglect <br />
    <input type="checkbox" /> Couple Issues <br />
    <input type="checkbox" /> Depression<br />
    <input type="checkbox" /> Developmental Disability <br />
    <input type="checkbox" /> Domestic Violence <br />
    <input type="checkbox" /> Eating Disorders <br />
    <input type="checkbox" /> Eduction/Personal Development <br />
    <input type="checkbox" /> Family Issues <br />
    <input type="checkbox" /> Gender Identity <br />
    <input type="checkbox" /> Grief/Loss<br />
    <input type="checkbox" /> Immigration/New Comer<br />
    <input type="checkbox" /> Interpersonal Relationships/Friendships<br />
    <input type="checkbox" /> Learning Disabilities <br />
    <input type="checkbox" /> Life Transitions<br />
    <input type="checkbox" /> Men's Issues <br />
    <input type="checkbox" /> Multicultural Issues <br />
    <input type="checkbox" /> Neurological <br />
    <input type="checkbox" /> Obsessive/Compuslive Disorder <br />
    <input type="checkbox" /> Pain Management<br />
    <input type="checkbox" /> Personality Disorders <br />
    <input type="checkbox" /> Phobias<br />
    <input type="checkbox" /> Physical Illness/Impairment<br />
    <input type="checkbox" /> Pregnancy/Child Birth <br />
    <input type="checkbox" /> Psychosis/Major Mental Illness <br />
    <input type="checkbox" /> Self-Abuse/Self-Harm<br />
    <input type="checkbox" /> Sexual Abuse/Rape<br />
    <input type="checkbox" /> Sexual Orientation<br />
    <input type="checkbox" /> Spiritual/Religious Concerns <br />
    <input type="checkbox" /> Stress<br />
    <input type="checkbox" /> Suicidal Thoughts<br />
    <input type="checkbox" /> Trauma/PTSD <br />
    <input type="checkbox" /> Women's Issues<br />
    
</div>

 	<h4 id="q2">2. Demographic information</h4>

	<input type="checkbox" /> Agnostic<br />
	<input type="checkbox" /> African American<br />
	<input type="checkbox" /> Asian American<br />
	<input type="checkbox" /> Atheist<br />
	<input type="checkbox" /> Buddhist<br />
	<input type="checkbox" /> Christian<br />
	<input type="checkbox" /> Gay/Lesbian/Bisexual/Transgender<br />
	<input type="checkbox" /> Hindu<br />
	<input type="checkbox" /> Jewish<br />
	<input type="checkbox" /> Latino American<br />
	<input type="checkbox" /> International Student<br />

  	<h4 id="q3">3. Have you experienced any of the following?</h4>

  	<input type="checkbox" /> Suicidal thoughts<br />
  	<input type="checkbox" /> Thoughts to harm others or yourself<br />
  	<input type="checkbox" /> Self-harming behavior without suicidal intent<br />
  	<input type="checkbox" /> Suicide attempts<br />
  	<input type="checkbox" /> Hospitalized from mental health concerts<br />
  	<input type="checkbox" /> Death of a loved one<br />
  	<input type="checkbox" /> Sexual assault<br />
  	<input type="checkbox" /> Domestic violence<br />
  	<input type="checkbox" /> Trauma<br />
  	<input type="checkbox" /> Drug or alcohol abuse<br />
  	<input type="checkbox" /> Recent relationship break-up<br />
  
  	<h4 id="q4">4. Have you have any previous counseling?</h4>
  	<form action="">
	  	<input type="radio" name="q4options"/> Yes, I have attended counseling at Georgia Tech<br />
	  	<input type="radio" name="q4options"/> Yes, I have attended counseling at an off campus location<br />
	  	<input type="radio" name="q4options"/> I am taking medication to address mental health concerns<br />
	</form>
  

  	<h4 id="q5">5. Is there any other information you would like to share?</h4>
  	<input type="text"><br>

  <!-- Content:<br>
  <textarea id="content" rows="5" cols="80">{{content}}</textarea> -->
  <br>
</form>

<button type="button" onclick="submitForm()">Submit</button> <br>

</body>
</html>